.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: row;
    width: 1445px;
    height: 900px;
}

.visualizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    row-gap: 2.5rem;
}

.lat-izq {
    position: fixed;
    z-index: -1;
}

.tarjeta-frente {
    width: 28rem;
    height: 15.3rem;
    background-image: url(./assets/bg-card-front.png);
    border-radius: 0.7rem;
    margin-left: 10rem;
}

.tarjeta-frente img {
    margin: 2rem;
}

.tarjeta-detras {
    width: 28rem;
    height: 15.3rem;
    background-image: url(./assets/bg-card-back.png);
    border-radius: 0.7rem;
    margin-left: 17rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario form {
    width: 30rem;
}

.formulario form ul {
    list-style: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.formulario form ul li label {
    display: block;
}

.formulario form ul li span {
    margin: 0;
    position: absolute;
    font-size: 15px;
    color: hsl(0, 100%, 66%);
}

.li-3 {
    display: flex;
    flex-direction: row;
}

.li-3 div {
    width: 50%;
}

.input-100 {
    width: 93.45%;
    margin-top: 0.5em;
    height: 2.2rem;
    border-radius: 0.4rem;
    padding: 0 1rem;
    border: 2px solid hsl(270, 3%, 87%);
    font-size: 18px;
}

.date-exp input {
    width: 25%;
    margin-top: 0.5em;
    height: 2.2rem;
    border-radius: 0.4rem;
    border: 2px solid hsl(270, 3%, 87%);
    padding: 0 1rem;
    font-size: 18px;
}

#year {
    margin-left: 0.5rem;
}

.cvc input {
    width: 87%;
    margin-top: 0.5em;
    height: 2.2rem;
    border-radius: 0.4rem;
    border: 2px solid hsl(270, 3%, 87%);
    padding: 0 1rem;
    font-size: 18px;
}

.formulario form ul li button {
    width: 102%;
    height: 3.5rem;
    border: none;
    background-color: rgb(34, 9, 48);
    color: white;
    font-weight: bolder;
    border-radius: 0.4rem;
    font-size: 18px;
    cursor: pointer;
}

input:focus {
    border: none;
    border: 2px solid transparent;
    border-image: linear-gradient(to left, hsl(249, 99%, 64%)0%, hsl(278, 94%, 30%)100%)1 !important;
    outline: none;
}

#card-number {
    font-size: 2.1rem;
    margin: auto;
    text-align: center;
    margin-top: 1.3rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1.43rem;
}

#user-name {
    margin-left: 2.3rem;
    margin-right: 10.5rem;
    margin-bottom: 3rem;
    color: hsl(0, 0%, 100%);
}

#date-expedition {
    color: hsl(0, 0%, 100%);
}

#cvc {
    margin-top: 7rem;
    display: block;
    margin-left: 22.5rem;
    color: white;
}